body {
    font-family: 'Nanum Pen Script', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    background-color: #fffcf5;
}

nav {
    background-color: #F8E4E2;
    border-radius: 10px;
    padding: 10px;
}

h1{
    text-align: center;
    font-size: 28px;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.skip{
    position: absolute;
    top: -500px;
}

.skip:focus{
    position: absolute;
    top:10px;
    right: 20px;
    color: red;
}


/* Make the list items display horizontally */
nav ul li {
    display: inline;
    margin-right: 20px; /* Space between items */
}

/* Style the links */
nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    display: inline-block;
}

#current{
    border: 1px solid black;
    background-color: white;
    border-radius: 30px;
}

footer{
    background-color: #F8E4E2;
    border-radius: 5px;
    text-align: center;
}

#about{
    display: grid;
    grid-template-rows: auto auto;
    background-color: #DF3B3A;
    border-radius: 20px;
    border: 3px solid #DF3B3A;
    gap: 3px;
}

#about img{
    width: 100%;
    justify-self: center;
    border-radius: 20px;
}

#about p{
    border-radius: 20px;
    background-color: #F8E4E2;
    padding: 10px;
    margin:0px;
}

.travel-container {
    display: grid; /* Enable grid layout */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Create responsive columns */
    gap: 16px; /* Space between grid items */
    padding: 16px; /* Optional padding around the container */
}

.travel-img figure {
    margin: 0; /* Remove default margins on the figure */
    text-align: center; /* Center text within each grid item */
}

.travel-img img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
}

@media(min-width: 768px){
    body{
        font-size: 20px;
        margin: 20px 100px;
    }
    #about{
        grid-template-columns: auto auto;
    }
}

